<!-- 头部内容 -->
<%- include ./common/header %>

<body>
<!-- 顶部导航内容 -->
<%- include ./common/nav %>

<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">RORO彦的Blog</h1>
        <hr/>
        <p class="lead blog-description">发现新鲜事，发现好玩事！</p>
    </div>

    <div class="row row-offcanvas row-offcanvas-left">
        <!-- 侧边工具栏 -->
        <%- include ./common/sidebar %>

        <div class="col-xs-12 col-lg-9">

            <div>
                <% if(user && (user.userName==article.author)) { %>
                <a class="btn btn-sm btn-primary btn-align" href="/edit/<%= article.author %>/<%= article.createTime.day %>/<%= article.title %>" role="button">
                    <span class="glyphicon glyphicon-edit"></span>&nbsp;编辑
                </a>
                <a class="btn btn-sm btn-primary del-btn-align" href="/remove/<%= article.author %>/<%= article.createTime.day %>/<%= article.title %>" role="button">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;删除
                </a>
                <% } %>

                <% var flag = 1 %>
                <%if(user && (user.userName != article.author)) { %>
                    <% if(article.reprintInfo) { %>
                        <% if((article.reprintInfo.reprintFrom != undefined) && (article.reprintInfo.reprintFrom.author == user.userName)) { %>
                            <% flag = 0 %>
                        <% } %>
                        <% if(article.reprintInfo.reprintTo != undefined) { %>
                            <% article.reprintInfo.reprintTo.forEach(function(reprintTo, index) { %>
                                <%if (reprintTo.author == user.userName) { %>
                                    <% flag = 0 %>
                                <% } %>
                            <% })%>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <% flag = 0 %>
                <% } %>

                <% if(flag) { %>
                <a class="btn btn-sm btn-primary btn-align" href="/reprint/<%= article.author %>/<%= article.createTime.day %>/<%= article.title %>" role="button">
                    <span class="glyphicon glyphicon-share"></span>&nbsp;转载
                </a>
                <% } %>
            </div>


            <div class="blog-post">
                <h2 class="blog-post-title"><%= article.title %></h2>
                <p class="blog-post-meta">
                    作者: <a href="/u/<%= article.author %>"><%= article.author %></a>&nbsp; |
                    时间: <%= article.createTime.minute %>&nbsp; |
                    标签:
                    <% article.tags.forEach(function(tag, index) { %>
                    <% if(tag) { %>
                    <a href="#"><%= tag %></a>
                    <% }%>
                    <% }) %>
                </p>
                <div>
                    <% if (article.reprintInfo && article.reprintInfo.reprintFrom) { %>
                    <a href="/u/<%= article.reprintInfo.reprintFrom.author %>/<%= article.reprintInfo.reprintFrom.day %>/<%= article.reprintInfo.reprintFrom.title %>">原文链接</a>
                    <br/>
                    <% } %>
                    <%- article.content %>
                </div>
                <p class="blog-post-meta">
                    <a href="#">阅读 <span class="badge"><%= article.pv %></span></a>&nbsp; |
                    <a href="#">评论 <span class="badge"><%= article.comments.length %></span></a>&nbsp; |
                    <a href="#">
                        转载
                        <span class="badge">
                            <% if(article.reprintInfo && article.reprintInfo.reprintTo) { %>
                                <%= article.reprintInfo.reprintTo.length %>
                            <% } else { %>
                                <%= 0 %>
                            <% } %>
                        </span>
                    </a>
                </p>
            </div>

            <!--博文评论信息-->
            <%- include ./common/comment %>
        </div><!--/.col-xs-12.col-lg-9-->

    </div><!--/row-->
</div>

<!-- 底部页尾内容 -->
<%- include ./common/footer %>
