<!-- 头部内容 -->
<%- include ./common/header %>

<body>
<!-- 顶部导航内容 -->
<%- include ./common/nav %>

<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">RORO彦的Blog</h1>
        <hr/>
        <p class="lead blog-description">发现新鲜事，发现好玩事！</p>
    </div>

    <div class="row row-offcanvas row-offcanvas-left">
        <!-- 侧边工具栏 -->
        <%- include ./common/sidebar %>

        <div class="col-xs-12 col-lg-9">
            <div class="blog-post">
                <h3 class="sub-func-title">
                    &nbsp;<span class="glyphicon glyphicon-menu-right"></span>&nbsp;
                    <%= title %>
                </h3>
                <ul style="list-style:none">

                    <li>
                        <h4>
                            <a href="https://github.com/LYZ0106">
                                <span class="glyphicon glyphicon-paperclip"></span>
                                RORO彦主页
                            </a>
                        </h4>赏个脸呗，给个星星给我
                    </li>
                </ul>
            </div>
        </div><!--/.col-xs-12.col-lg-9-->

    </div><!--/row-->
</div>

<!-- 底部页尾内容 -->
<%- include ./common/footer %>
